# Packer
old/packer/builds
old/packer/packer_cache
packer/builds
packer/packer_cache
packer/output-*
packer/*.box

# Vagrant
vagrant/*/.vagrant

# Terraform
terraform/*/creds.json
terraform/*/.terraform
*.hcl
*.tfplan
*.tfstate
*.tfstate.*
